<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
  <add name="strCon" connectionString="SERVER = sql.bsite.net\MSSQL2016; USER = ngunemay123_db; PASSWORD = conchongu0123; DATABASE = ngunemay123_db "
   providerName="System.Data.SqlClient" />
  <add name="VanPhap.Properties.Settings.DataSourceConnectionString"
   connectionString="Data Source=sql.bsite.net\MSSQL2016;User ID=ngunemay123_db"
   providerName="System.Data.SqlClient" />
  <add name="VanPhap.Properties.Settings.DataSourceConnectionString1"
   connectionString="Data Source=sql.bsite.net\MSSQL2016;User ID=ngunemay123_db;Password=conchongu0123"
   providerName="System.Data.SqlClient" />
  <add name="VanPhap.Properties.Settings.DemoConnectionString"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Demo.mdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>